.container-input {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 10px;
  color: rgb(100, 100, 100);
}

@media screen and (max-width: 480px) {
  .container-input {
    width: 90%;
  }
}

input {
  padding: 5px;
}

label {
  margin-bottom: 10px;
}

.container-input span {
  color: rgb(194, 194, 194);
  font-size: 14px;
}
