.container-input {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding-top: 10px;
  color: var(--gray-4);
}

@media screen and (max-width: 480px) {
  .container-input {
    width: 90%;
  }
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid var(--gray-5);
  background-color: var(--gray-3);
}

input:focus {
  outline: none;
}

::placeholder {
  color: var(--span-gray);
}

label {
  margin-bottom: 10px;
}

.container-input span {
  color: var(--span-gray);
  font-size: 14px;
}
