.container-sidebar {
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: var(--blue);
}

.sidebar-content {
  width: 90%;
  font-weight: 650;
}

.sidebar-content p,
h3 {
  padding: 8px 0;
  font-size: 14px;
}

.sidebar-content h3 {
  border-bottom: 1px solid var(--blue);
}

@media screen and (min-width: 768px) {
  .container-sidebar {
    width: 30%;
  }
}
